{% block content %}
<div class="table-container">
  <table class="table is-bordered is-striped is-hoverable is-fullwidth">
    <!-- 테이블 헤더 -->
    <thead>
      <tr>
        {% for col in columns %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>

    <!-- 테이블 본문 -->
    <tbody>
      {% for row in rows %}
        <tr>
          {% for col in columns %}
            <!-- 특정 열에 링크 추가 -->
            {% if col == "title" or col in link_columns %}
              <td><a href="{{ url_prefix }}/{{ row['id'] }}">{{ row[col] }}</a></td>
            {% else %}
              <td>{{ row[col] }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
